<html>

    <body>
        <div class="jumbotron gossip">
            <h1 class="display-4">Welcome <%= @first_name %>!<br>Ici c'est notre super site de potins, chouette non ?</h1>
            <hr class="my-4">
        </div>

    </body>
</html>