<html>
    <body>
        <div class="card">
            <h5 class="card-header">Yo la mifa</h5>
            <div class="card-body">
                <h5 class="card-title">The Gossip Project</h5>
                <p class="card-text">Paris RPZ</p>
            </div>
        </div>
    </body>
</html>
